*{
	margin: 0;
	padding: 0;
	font-family: Consolas;
}
.banner{
	width: 100%;
	height: 100vh;
	background-color: #000;
	background-size: cover;
	background-position: center;
	background-repeat: repeat;
	overflow: hidden;
	animation: blinking_background 3.4s step-end infinite;;
}

@keyframes blinking_background{
	0%{
		background-color: #000;
	}
	50%{
		background-color: #fff;
	}
	100%{
		background-color: #000;
	}
}
.content{
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	color: #fff;
	overflow: hidden;
}
.content h1{
	font-size: 345px;
	font-weight: bold;
	word-spacing: -0.31em;
	margin-top: 0;
	animation: blinking_text 3.4s step-end infinite;

}

@keyframes blinking_text{
	0% {
		color: #fff;
	}
	50%{
		color: #000;
	}
	100%{
		color: #fff;
	}
}